<footer class="md-footer">
    <div class="md-list md-list--horizontal md-footer__list" role="list">
        <a class="md-list-item" ><img  class="md-footer__logo" src="<%= url_for('/images/cisco/cisco-logo-white.svg') %>" alt="Momentum UI" /></a>
        <a class="md-list-item">© 2020 Cisco and/or its affiliates. All rights reserved.</a>
        <a class="md-list-item md-link--nav" id="md-list-item-3" role="listitem" tabindex="-1" data-md-event-key="md-list-item-3">Support &amp; Feedback</a>
        <a class="md-list-item md-link--nav" id="md-list-item-4" role="listitem" href="https://www.cisco.com/c/en/us/about/legal/privacy.html" tabindex="-1" data-md-event-key="md-list-item-4" target="_blank">Privacy Policy</a>
        <a class="md-list-item md-link--nav" id="md-list-item-5" role="listitem" href="https://www.cisco.com/c/en/us/about/legal/privacy.html#cookies" tabindex="-1" data-md-event-key="md-list-item-5" target="_blank">Cookie Policy</a>
    </div>
</footer>